{% extends 'layout.html' %}

{% block body %}

  <h1 style="width: 94%;">Admin
    {% if session.logged_in and session.admin %}
      <form method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label for="new_admin">Nuovo admin (username):</label>
          <input type="text" name="new_admin" id="new_admin" value="{{request.form.new_admin}}" class="form-control" style="width:30%"/>
        </div>
        
        <div class="form-group">
          <p><button type="submit" class="btn btn-success btn right" id="sub_but">Aggiungi</button></p>
        </div>
      </form>
    {% endif %}
  </h1>
  <table class="table table-striped">
    <tr>
      <th>Admin</th>
    </tr>
    {% for admin in admins %}
      <tr>
        <td>{{admin.username}}</td>
        {% if session.logged_in %}
          <td><a href="/delete_admin/{{admin.id}}" class="btn btn-danger">Delete</a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>


{% endblock %}