{% extends 'layout.html' %}

{% block body%}
  <h1>Analyzed Audios</h1>
  <table class="table table-striped">
    <tr>
      <th>Text Name</th>
      <th>Patient Name</th>
      <th>Date</th>
    </tr>
    {% for transcription in transcriptions %}
      <tr>
        <td>{{transcription.id}}</td>
        <td>{{transcription.name}}</td>
        <td>{{transcription.update_date}}</td>
        <td><a href="transcription/{{transcription.id}}" class="btn btn-default">Inspect</a></td>
    {% endfor %}
      </tr>
  </table>
{% endblock %}
